<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Job05 - Add User</title>
  <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <form action="/adduser" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New User</h5>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <input type="text" name="user_firstname" class="form-control" placeholder="Firstname" required>
                    </div>

                    <div class="form-group">
                        <input type="text" name="user_lastname" class="form-control" placeholder="Lastname" required>
                    </div>

                    <div class="form-group">
                        <input type="text" name="user_email" class="form-control" placeholder="Email" required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>