*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

svg {
    overflow: inherit;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}