section#skill {
    flex-wrap: wrap;
}

.skill-item {
    width: auto;
    margin: 6px 20px;
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.skill-progress {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skill-icon {
    width: 64px;
}
